body {
  color: #efe96b;
  background-color: #ef6bb3;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 1.25em 0;
  text-shadow: -0.125em 0.05em #4287f5;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.pokemon-button {
  color: #efe96b;
  background-color: #ef6bb3;
  padding: 1.25vh 9vw;
  margin: 0.75rem auto;
  border: 3px solid #efe96b;
  border-radius: 20px;
  box-shadow: -0.35em 0.175em #4287f5;
  text-shadow: -0.15em 0.075em #4287f5;
}

@media all and (min-width: 750px) {
  body {
    font-size: 1.4rem;
  }
}
