body {
  color: #efe96b;
  background-color: #ef6bb3;
  font-family: 'Acme', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 1.5em 0;
}

.pokemon-button {
  color: #efe96b;
  background-color: #ef6bb3;  
}

@media all and (min-width: 750px) {
  body {
    font-size: 1.25rem;
  }
}
